[Unit]
Description=Tomcat User Service

[Service]
WorkingDirectory=%h/tomcat
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="JAVA_HOME={{java_home}}"
ExecStart=%h/tomcat/bin/catalina.sh run
Restart=always
PrivateTmp=true
NoNewPrivileges=true
StandardOutput=file:%h/tomcat/logs/catalina.log
StandardError=inherit

[Install]
WantedBy=default.target
